@import '@/assets/all.scss';

$color-1: #2D37771A;
$color-2: $blue-color;
$color-3: #5076FF;
$color-4: $red-color;
$color-5: $grey-color-1;

.modalContent {
    width: 100%;
    height: max-content;
    position: relative;
    color: $blue-color;

    h5 {
        color: $color-2;
        white-space: pre-wrap;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;

        span {
            color: $color-3;

            @include mouse-hover {
                color: $color-4;
            }
        }
    }
}

.contactsBox {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .inputs {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}

.messageBox {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .message {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.cardBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .cardDataBox,
    .locationsBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .locationsBox {
        border-bottom: solid 1px $grey-color;
        padding-bottom: 16px;
    }

    .tableRow {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .dataRow {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    p.title {
        color: $color-5;
    }

    p.data {
        color: $color-2;
    }
}



@media #{$tablet} {
    .contactsBox {
        width: 620px;
        gap: 32px;

        .inputs {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 16px
        }
    }

    .messageBox {
        width: 320px;
    }

    .cardBox {
        min-width: 600px;
    }
}



@media #{$desktop} {
    .contactsBox {
        width: 720px;

        .inputs {
            gap: 24px
        }
    }
}
