@import '@/assets/all.scss';

$color-1: #A2ACE9;
$color-2: #ffffff1a;
$desktop-min-height: 600px;

.formBox {
    position: relative;
    height: max-content;
    width: 100%;
    @include transition(500ms);

    h3 {
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
    }

    h4 {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: $color-1
    }

    h5 {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    button {
        @include mouse-hover {
            background-color: transparent;
            color: $white-color;
        }
    }
}

.formContent {
    height: max-content;
    padding: 40px 24px;
    gap: 32px;
    display: flex;
    flex-direction: column;

    .servicesTabsBox {
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .tabsBox {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 16px;

            .tab {
                height: auto;
                min-height: 40px;
                width: fit-content;
                background-color: none;
                border: 1px solid $white-color;

                padding: 8px 16px;
                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;

                @include mouse-hover {
                    background-color: $color-2;
                }
            }

            .active {
                background-color: $red-color;
                border-color: $red-color;

                @include mouse-hover {
                    background-color: $red-color;
                    filter: brightness(1.1);
                }
            }
        }
    }

    .contactsBox {
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .inputs {
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
}

.successMessage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    button {
        width: 100%;
    }

    .successMessageContent {
        padding: 40px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .successContent {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
    }

    .message {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .successLogo {
        height: 80px;
        width: 80px;
    }

    .successContentButton {
        width: 100%;
    }
}



@media #{$tablet} {

    .formContent {
        .contactsBox {
            .inputs {
                flex-grow: 1;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 24px;
            }
        }
    }

    .successMessage {
        .successContent {
            width: 420px;
        }

        .successMessageContent {
            padding: 64px 24px;
        }
    }
}



@media #{$desktop} {
    .formBox {
        height: 100%;
        width: 100%;
        min-height: $desktop-min-height;

        h3 {
            font-size: 18px;
            font-weight: 500;
        }

        h4 {
            font-size: 12px;
            font-weight: 400;
            color: $color-1
        }

        p {
            font-size: 14px;
            font-weight: 400;
        }
    }

    .formContent {
        height: 100%;
        padding: 64px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 64px;

        .servicesTabsBox {
            height: 142px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .tabsBox {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 16px;

                .tab {
                    height: 40px;
                    width: fit-content;

                    border: 1px solid $white-color;
                    padding: 0px 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }

                .active {
                    background-color: $red-color;
                    border-color: $red-color;
                }
            }
        }

        .contactsBox {
            height: 240px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .inputs {
                flex-grow: 1;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 24px;
            }
        }
    }

    .successMessage {
        h2 {
            font-size: 28px;
            font-weight: 500;
            line-height: 34px;
        }

        .successLogo {
            height: 134px;
            width: 134px;
        }
    }
}
