@import '@/assets/all.scss';
@import '@/app/layout.module.scss';

.module {
    background-color: $grey-color;
}


.wrapper {
    height: auto;
    padding: 40px 24px;
    color: $white-color;

    h3 {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
    }
}

.innerBox {
    height: auto;

    background-color: $blue-color;
    display: flex;
    flex-direction: column;
    gap: 24px;

    >* {
        padding: 0 24px;
    }
}

.imageBox {
    height: auto;
    width: 100%;
    aspect-ratio: 1.25;
    padding: 20px;
}

.messageBox {
    height: auto;

    .textBox {
        min-height: fit-content;
        height: auto;
        width: 100%;
    }
}

.buttonBox {
    height: auto;
    width: 100%;

    padding: 0;

    @include transition(500ms);

    padding-left: 24px;
    padding-top: 24px;

    .buttonLayout {
        height: auto;
        width: 100%;
        background-color: $red-color;

        padding-right: 24px;
        padding-bottom: 24px;
    }

    @include mouse-hover {
        padding: 0;

        .buttonLayout {
            padding: 24px;
        }
    }

    button {
        width: 100%;
    }
}

@media #{$tablet} {
    .wrapper {
        height: auto;
        padding: 24px;

        h3 {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
        }
    }

    .innerBox {
        height: 100%;
        display: grid;
        grid-template-columns: 320px 1fr;
        grid-template-rows: 1fr 128px;

        &>* {
            &:nth-child(1) {
                grid-row-start: 1;
                grid-row-end: -1;
            }
        }
    }

    .imageBox {
        height: 100%;
    }

    .messageBox {
        height: 100%;
        padding: 48px 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .buttonBox {
        height: 100%;
        padding: 0;

        padding-left: 24px;
        padding-top: 24px;

        .buttonLayout {
            height: 100%;
            padding: 0;
            padding-right: 24px;
            padding-bottom: 24px;
        }

        @include mouse-hover {
            padding: 0;

            .buttonLayout {
                padding: 24px;
            }
        }

        button {
            width: auto;
        }
    }
}

@media #{$desktop} {

    .wrapper {
        height: 400px;
        padding: 40px;

        h3 {
            font-size: 28px;
            font-weight: 500;
            line-height: 34px;
        }
    }

    .innerBox {
        display: grid;
        grid-template-columns: 720px 1fr;
        grid-template-rows: 1fr 150px;
    }

    .messageBox {
        padding: 48px 32px;
    }
}
