@import '@/assets/all.scss';

$overlay-color: #00000080;

.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;

    z-index: 10000;
    height: 100%;
    width: 100%;

    background-color: $overlay-color;
    transition: all 500ms;
}

.modal {
    position: relative;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hidden {
    visibility: hidden;
    opacity: 0;

    @include disable-interaction;
}
