@import '@/assets/all.scss';
@import '@/app/layout.module.scss';

$wrapper-min-height: calc(420px * (1 - $scrollbar-width / $desktop-min-width));

.module {
    background-color: $blue-color;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content {
    display: grid;
    grid-template-rows: repeat(2, auto);
    color: $white-color;
}

.titleBox {
    display: flex;
    flex-direction: column;
    padding: 40px 24px;
    gap: 16px;
}

.sliderBox {
    position: relative;
    height: auto;
    width: 100%;
    aspect-ratio: 720 / 420;
}

.sliderButtons {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media #{$tablet} {
    .titleBox {
        * {
            max-width: 450px;
        }
    }
}

@media #{$desktop} {
    .wrapper {
        height: auto;
        width: 100%;
        aspect-ratio: 1440 / 420;
        min-height: $wrapper-min-height;
    }

    .content {
        height: auto;
        width: 100%;
        aspect-ratio: 1440 / 420;
        min-height: $wrapper-min-height;

        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: none;
    }

    .titleBox {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 64px 40px;
        gap: 32px;
    }
}
