@import '@/assets/all.scss';
@import '@/app/layout.module.scss';

$mobile-map-height: 600px;
$tablet-map-height: 475px;
$desktop-map-height: 750px;

.module {
    background-color: $grey-color;
    padding: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.content {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;
    color: $blue-color;
}

.titleBox {
    padding-top: 40px;
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
}

.mapBox {
    position: relative;
    height: $mobile-map-height;
    width: 100%;
    border: 1px solid $blue-color;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media #{$tablet} {
    .titleBox {
        padding: 40px;
    }

    .mapBox {
        height: $tablet-map-height;
    }
}

@media #{$desktop} {
    .content {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 64px;
    }

    .mapBox {
        height: $desktop-map-height;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
