@mixin font($font-size, $font-weight, $line-height) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

@mixin scrollbar($width: 0, $height: 0) {

    &,
    * {
        &::-webkit-scrollbar {
            width: $width;
            height: $height;
        }
    }
}

@mixin transition($transition-time) {

    &,
    & * {
        transition: all $transition-time;
    }
}

@mixin disable-interaction {

    &,
    & * {
        user-select: none;
        touch-action: none;
        pointer-events: none;
    }
}

@mixin mouse-hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
}
