@import '@/assets/breakpoints.scss';

$mobile-min-width: $mobile-start;
$tablet-min-width: $tablet-start;
$desktop-min-width: $desktop-start;

// 

$mobile-header-height: 56px;
$tablet-header-height: 64px;
$desktop-header-height: 64px;

// 

$scrollbar-width: 6px;
$scrollbar-height: 2px;

$module-max-width: calc(100vw);
$module-min-width: calc(100vw - $scrollbar-width);

$container-max-width: min($module-min-width, calc($desktop-min-width - $scrollbar-width));

$container-min-padding: calc((100% - $container-max-width)/2);
