@import '@/assets/all.scss';

$color-1: grey;

.wrapper {
    height: 64px;
    width: auto;
    aspect-ratio: 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .slider-button {
        height: 100%;
        width: 100%;
        border: 1px solid $grey-color;

        padding: 30%;
        background-color: $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @include mouse-hover {
            filter: brightness(0.95);
        }

        * {
            height: 100%;
            width: 100%;
            color: $blue-color;
            stroke: $blue-color;
        }
    }

    .inactive {
        cursor: no-drop;

        @include mouse-hover {
            filter: none;
        }

        * {
            color: $color-1;
            stroke: $color-1;
        }
    }

    .disable {
        display: none;
    }
}
