@import '@/assets/all.scss';
@import '@/app/layout.module.scss';

.module {
    background-color: $grey-color;
}

.wrapper {
    height: auto;
    padding: 40px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white-color;

    h3 {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
    }
}

.innerBox {
    height: auto;
    background-color: $blue-color;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 20px;
}

.messageBox {
    height: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    .textBox {
        height: auto;
        width: 100%;
    }

    .icon {
        height: 40px;
        width: 40px;
    }
}

.buttonBox {
    height: auto;
    width: 100%;

    padding: 0;
    padding-left: 24px;
    padding-top: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @include transition(500ms);

    .buttonLayout {
        height: auto;
        width: 100%;

        padding-right: 24px;
        padding-bottom: 24px;
        background-color: $red-color;
    }

    @include mouse-hover {
        padding: 0;

        .buttonLayout {
            padding: 24px;
        }
    }

    button {
        width: 100%;
    }
}

@media #{$tablet} {
    .wrapper {
        h3 {
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
        }
    }

    .innerBox {
        height: auto;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 0;
    }

    .messageBox {
        height: auto;
        padding: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .buttonBox {
        width: auto;

        padding: 0;
        padding-left: 24px;
        padding-top: 24px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        .buttonLayout {
            padding: 0;
            padding-right: 24px;
            padding-bottom: 24px;
        }

        @include mouse-hover {
            padding: 0;

            .buttonLayout {
                padding: 24px;
            }
        }

        button {
            width: auto;
        }
    }
}

@media #{$desktop} {
    .wrapper {
        padding: 80px 40px;

        h3 {
            font-size: 28px;
            font-weight: 500;
            line-height: 34px;
        }
    }

    .messageBox {
        height: auto;
        padding: 0 64px;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .buttonBox {
        width: auto;
        padding: 0;
        padding-left: 64px;
        padding-top: 40px;

        .buttonLayout {
            padding: 0;
            padding-right: 64px;
            padding-bottom: 40px;
        }

        @include mouse-hover {
            padding: 0;

            .buttonLayout {
                padding: 40px 64px;
            }
        }
    }
}
